<form [formGroup]="form" (ngSubmit)="addBeer()">
	<div>
		<mat-form-field>
			<input matInput formControlName="Bier" placeholder="Name" required>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<input matInput formControlName="Stijl" placeholder="Type" required>
		</mat-form-field>
	</div>

	<button mat-button type="submit">
		Add Beer
	</button>
</form>