@import "../../../mixins";
@import "../../../settings";

.beer-navigator{
	@include breakpoint(map-get($breakpoints, 'large')){
		display: flex;
	}

	.filters,
	.results{
		padding: $padding;
	}

	.filter{
		mat-form-field{
			width: 100%;
		}
	}

	.results{
		flex-grow: 1;

		> h2{
			display: inline-block;
		}

		.add-beer{
			margin-left: $padding / 2;
		}
	}
}