<div>
	<div class="beer-navigator">
		<div class="filters">
			<app-beer-filters></app-beer-filters>
		</div>

		<div class="results">
			<h2>
				Results
			</h2>
			<button type="button" mat-button (click)="openAdder()" class="add-beer">
				Add Beer
			</button>
			<mat-table #table [dataSource]="tableData" matSort>

				<ng-container matColumnDef="Bier">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						Name
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{element.Bier}}
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="Stijl">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						Type
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{element.Stijl}}
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
			</mat-table>

			<mat-paginator #paginator
						   [pageSize]="10"
						   [pageSizeOptions]="[5, 10, 20]">
			</mat-paginator>
		</div>
	</div>
</div>