<h3>
	Types
</h3>
<mat-form-field>
	<mat-select placeholder="Types"  [formControl]="typesControl" (change)="filterBeers($event.value)" multiple>
		<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
	</mat-select>
</mat-form-field>