@import '../settings';

header{
	position: fixed;
	top:0;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: map-get($palette, primary);
	box-shadow: $shadow;
	padding-left: $padding;
	padding-right: $padding;
}

.content{
	margin-top: 5rem;
}