<!--The content below is only a placeholder and can be replaced.-->
<header>
	<h1>
		{{title}}
	</h1>
</header>
<div class="content">
	<app-beers-navigator>Beer navigation in progres..</app-beers-navigator>
</div>