$palette: (
	primary: #8DE6D4,
	secondary: #E68DCC,
	gray: (
		light: #DDDDDD,
		medium: #888888,
		dark: #222222
	),
	white: #FEFEFE,
	black: #000000
);
$palette-gray: map-get($palette, gray);
$padding: 2rem;
$shadow: 0 2px 6px rgba(0,0,0,0.3);
$breakpoints: (
	small: 0,
	large: 767px,
);