/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink";
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "mixins";
@import "settings";

:root{
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

body{
	padding: 0;
	margin: 0;
}

h1,
h2,
h3{
	font-family: Lato, sans-serif;
}